# IDEs
.idea/
.vscode/

# Common OS files
.DS_Store

# For files that there's a constant number of, put their absolute path here
# rather than matching a pattern. This helps makes it easier for us to know when
# it's okay to remove lines from this file.

# Custom
/bin/**

# Eslint
/.eslintcache

# Parcel
/.cache
/.parcel-cache
/dist

# Node
/node_modules

# Yarn
/yarn-error.log

# Package manager lockfiles. We use Yarn. Ignoring other lockfiles prevents
# other people from accidentally committing them.
/package-lock.json
/pnpm-lock.yaml

# Python
venv
__pycache__
.mypy_cache
