/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* extracted components come right after the components directive */
.slider-input {
  @apply border-b block w-full bg-transparent text-center my-2 text-2xl leading-8;
}

@screen sm {
  .slider-input {
    @apply text-3xl leading-9;
  }
}

@tailwind utilities;

/*
  Put custom CSS below this comment.  You'll need to run "yarn build-local" to see changes.
  Note: Ideally, you shouldn't have to add too much custom CSS.
*/

#us_map {
  cursor: pointer;
}

path.state.active,
path.state.active:hover,
circle.state.active,
circle.state.active:hover {
  stroke: #22543d !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #22543d !important;
}

path.state:hover,
circle.state:hover {
  stroke: #68d391 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #68d391 !important;
}
